.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerContainer nav {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.headerContainer .active {
    color: green;
}