.Add {
    background-color: #d7b38c; 
    background-image: url('https://www.w3schools.com/w3images/wood.jpg');
    background-size: cover; 
    background-position: center; 
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px; 
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    font-family: 'Arial', sans-serif; 
    margin-top: 100px;
}

.Add h2 {
    color: white;
    font-size: 2rem; 
    margin-bottom: 20px;
}

.Add input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
}

.Add button {
    background-color: #8e5a3b; 
    color: white;
    padding: 15px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.Add button:hover {
    background-color: #70401d; 
}


.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}


input:focus {
    border-color: #8e5a3b;
    outline: none;
}


input:invalid {
    border-color: red;
}
